body {
  background-color: rgb(93, 0, 0);
  color: rgb(190, 190, 190);
}

.biography {
  background-color: rgb(224, 224, 224);
  border-radius: 0px 0px 20px 20px;
  color: rgb(114, 0, 0);
}
h1 {
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(224, 224, 224);
  color: rgb(114, 0, 0);
}
div {
  text-align: center;
}
.album-card {
  width: 200px;
  height: 300px;
  background-color: rgb(114, 0, 0);
  border: solid 1px white;
  border-radius: 5px;
  display: inline-block;
}

img.album-cover {
  border-radius: 50%;
}
